@charset "utf-8";
body {
	/* taustav채rv */
	background-color: #d5d5d4;
	/* teksti v채rv */
	color: #0000FF;
	/* teksti suurus */ 
	font-size: 14px;
	/* teksti font*/
	font-family: "Poppins", Arial, serif;
}

h1 {
	font-size: 28px;
	color: #000000;
}

b {
	color: #FF0000;
}

.box-one {
	background-color: #f7f7f4;
}

.box-two {
	background-color: #f7f7f3;
}

.box-three {
	background-color: #f7f7f5;
}

.box {
	float: left;
	width: 25%;
	height: 100px;
	margin-top: 20px;
	margin-left: 20px;
	padding: 20px;
	border: 10px solid #a7e7e7;
}


/* k천ik valgeks */
.main {
	background-color: #fff;
	min-height: 500px;
}

/* fonti suurus */
.main h1 {
   font-size: 40px;
}

/* fonti suurus */

.main ul {
   font-size: 18px;
}

/* fonti v채rv */

.main b, .main h1 {
   color: #4c5b68;
}

/* keskele ja millise suuruse suhtes */

.energia-inner {
	margin: 0 auto;
	max-width: 1400px;
}

/* sisu nihutamine */

.energia-content {
	padding: 50px 20px 50px 280px;
}

.energia-content li {
	padding-top: 30px;
}

/* sama klassiga tulbad */

.main .col {
	float: left;
	width: 40%;
}

.eesti-main {
		display: flex;
		background-color: #5D6071;
		max-width: 100%;
}

.eesti-inner {
	    width: 1440px;
		margin: 0 auto;
}

.eesti-row {
	display: flex;
	flex-direction: row;
	margin-right: 40px;
	margin-left: 40px;
}

.uudised {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 2;
	background-color: #5D6071;
	width: 60%;
}

.pidu {
	display: flex;
	padding-top: 18px;
    padding-bottom: 2px;
    color: #ffffff;
    background-color: #0083BA;
	width: 40%;
}

.eesti-col {
	    flex-basis: auto;
}




